/* FontsFree-Net-Lastica */
@font-face {
    font-family: FontsFree-Net-Lastica;
    src: url(../fonts/FontsFree-Net-Lastica.ttf);
}

.lastica {
    font-family: FontsFree-Net-Lastica;
    font-weight: bold;
    letter-spacing: 3px;
}

/* AnonymousPro  */
@font-face {
    font-family: AnonymousPro;
    src: url(../fonts/AnonymousPro-Regular.ttf);
}

.anonymous-pro {
    font-family: AnonymousPro;
}

/* TT Interphases Pro Trial Regular.ttf */
@font-face {
    font-family: TT-Interphases;
    src: url(../fonts/TT-Interphases-Pro-Trial-Regular.ttf);
}

.tt-interface {
    font-family: TT-Interphases;
    letter-spacing: 2px;
}

/* PPTelegraf-Regular.otf */
@font-face {
    font-family: Telegraf;
    src: url(../fonts/PPTelegraf-Regular.otf);
}

.telegraf {
    font-family: Telegraf;
    letter-spacing: 2px;
}

main {
    max-width: 1920px;
}

.top-section {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bubble-area {
    background-image: url('../images/3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.pc-fisso {
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 10%;
}

.monitor {
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 14%;
}

.cpu {
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 6%;
}

.scheda-madre {
    font-weight: 600;
    letter-spacing: 1px;
}

.scheda-madre-img {
    margin-left: 8%;
}

.ram {
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 17%;
}


.icon-row {
    width: 30%;
}

.card-bg {
    background-color: rgba(0, 0, 0, 0);
}

.parent {
    width: 700px;
}

.banner-floating-image {
    height: 150px;
    width: 150px;
}

.social-area {
    height: 150px;
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 768px) and (min-width: 200px) {
    .parent {
        width: 375px;
    }

    .icon-row {
        width: 40%;
    }

    .social-area {
        align-items: center;
    }

    .pc-fisso {
        margin-left: 15%;
    }
}